
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* NAVBAR */
nav {
  background: #ff4d4d;
  color: rgb(244, 242, 235);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

nav h1 {
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

/* SECTIONS */
section {
  padding: 60px 20px;
  text-align: center;
}

/* HOME / HERO SECTION */
#home {
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  color: rgb(206, 44, 44);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

#home p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* BUTTON */
button {
  padding: 12px 25px;
  background: #ff4d4d;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #e63e3e;
}

/* ABOUT */
#about {
  background: #643d23f9;
}

/* MENU SECTION */
#menu {
  background: rgb(197, 92, 12);
}

.menu-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.menu-item {
  width: 200px;
  border: 1px solid #d0680d;
  border-radius: 10px;
  padding: 15px;
}

.menu-item img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 10px;
}

.menu-item p {
  margin-top: 10px;
  font-weight: bold;
}

/* CONTACT */
#contact {
  background: #fff5f5;
}

/* FOOTER */
footer {
  background: #ff4d4d;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

/* RESPONSIVE (MOBILE) */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  nav ul {
    margin-top: 10px;
  }

  #home h2 {
    font-size: 28px;
  }

  .menu-item {
    width: 90%;
  }
}